# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ConsoleApp1.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\YandexDisk\Академия ШАГ\Microsoft .NET C#\repos\ConsoleApp1\.idea\.idea.ConsoleApp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
